exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
useDynLib(CausalBNPBook, .registration = TRUE)
importFrom(gridExtra, grid.arrange)
importFrom(MCMCpack, rdirichlet)
importFrom(MCMCpack, riwish)
importFrom(mvnfast, dmvn)
importFrom(mvnfast, rmvn)
importFrom(mvtnorm, pmvnorm)
importFrom(norm, em.norm)
importFrom(norm, getparam.norm)
importFrom(norm, prelim.norm)
importFrom(rjags, load.module)
importFrom(runjags, run.jags)
importFrom(survival, survreg)
importFrom(survival, Surv)
importFrom(tmvtnorm, dtmvnorm.marginal)
importFrom(tmvtnorm, rtmvnorm)
